@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Danh sách vai trò";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Create" class="btn btn-primary mb-3">Tạo vai trò mới</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên vai trò</th>
            <th class="text-center">Số người dùng</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class="text-center">@ViewBag.RoleUserCounts[role.Name]</td>
                <td class="text-center">
                    @* <a asp-action="AssignRole" asp-route-roleName="@role.Name" class="btn btn-success btn-sm">Gán vai trò</a> *@
                    @* <a asp-action="UserList" asp-route-roleName="@role.Name" class="btn btn-info btn-sm">Danh sách người dùng</a> *@
                   <a asp-action="EditRole" asp-route-roleId="@role.Id" class="btn btn-warning btn-sm">Sửa vai trò</a>
                    <form asp-action="DeleteRole" asp-route-roleId="@role.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa vai trò này?');">Xóa vai trò</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
