@model Pagination<MvcLaptop.Models.Role>

@{
    ViewData["Title"] = "Danh sách vai trò";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Create" class="btn btn-primary mb-3">Tạo vai trò mới</a>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchName">Search by Name:</label>
        <input type="text" class="form-control" id="searchName" name="searchName" value="@ViewBag.SearchName">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
@if (@Model.Items != null && @Model.Items.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên vai trò</th>
                <th class="text-center">Số người dùng</th>
                <th class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Items)
            {
                <tr>
                    <td>@role.Name</td>
                    <td class="text-center">
                        @if (ViewBag.RoleUserCounts.ContainsKey(role.Name))
                        {
                            @ViewBag.RoleUserCounts[role.Name]
                        }
                        else
                        {
                            <span>0</span> <!-- Default value if no users are found -->
                        }
                    </td>
                    <td class="text-center">
                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id"
                            class="btn btn-warning btn-sm">Sửa vai trò</a>
                        <form asp-action="DeleteRole" asp-route-roleId="@role.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa vai trò này?');">Xóa vai trò</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@(await Component.InvokeAsync("Pager", Model))