    @model IEnumerable<MvcLaptop.Models.Category>

    @{
        ViewData["Title"] = "Categories";
    }

    <h2>Hãng sản phẩm</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Thêm mới</a>
    </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Tên hãng</th>
                <th>Giới thiệu </th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td style="font-weight: bold; color: #130f40;">@category.Name_Category</td>
                    <td>
                        @if (!string.IsNullOrEmpty(category.Description) && category.Description.Length > 100)
                        {
                            @category.Description.Substring(0, 100)
                            @:...
                        }
                        else
                        {
                            @category.Description
                        }
                    </td>
                    <td style="white-space: nowrap;">
                        <a href="@Url.Action("Edit", new { id = category.CategoryId })" class="btn btn-warning">Chỉnh sửa</a>
                        <a href="@Url.Action("Details", new { id = category.CategoryId })" class="btn btn-info">Giới thiệu</a>
                        <a href="@Url.Action("Delete", new { id = category.CategoryId })" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
