@model IEnumerable<MvcLaptop.Models.Product>
@{
    ViewData["Title"] = "Product";
}
<div class="container">
    <div class="header-container">
        <h1 class="display-8">Sản phẩm</h1>
        <form asp-controller="Home" asp-action="Product" method="get" class="search-form">
            <input type="text" name="searchString" value="@ViewData["SearchString"]" placeholder="Tên máy" />
            <input type="submit" value="Tìm kiếm" />
        </form>
    </div>
    <div class="product-grid">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id" class="product-card">
                <img src="@item.ProductImages!.FirstOrDefault(img => img.IsMainImage)?.ImageUrl" alt="@item.Title" onerror="this.onerror=null; this.src='@Url.Content("~/images/default.jpg")'; this.classList.add('product-image');" class="product-image"/>
                <h3 class="product-title">@item.Title</h3>
                <p class="product-genre">@item.Category?.Name_Category</p>
                <p class="product-price">@item.FormattedPrice</p>
            </a>
        }
    </div>
</div>